.option-box{
	height : 500px;
	display: flex;
	justify-content: center;
	align-items: center;

	.option-box-container{
		width: 50%;
		padding-left: 170px;
		height: 80%;
		border-width: 2px;
		border-style: inset;
		border-color: black;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.option-box-option{
			font-weight: bold;
			padding-left: 70px;
			padding-bottom: 10px;
			width: 60%;
			border : 2px solid black;
			 box-shadow: 5px 10px 8px #888888;
			border-radius: 5px;

			&:hover{
				text-decoration: none;
				opacity: 0.5;
			}
		}
	}
}